./.DS_Store

Sensors/c++/src/objs
Sensors/c++/src/.vs
Sensors/c++/src/*.txt
Sensors/.vs
Sensors/c++11/build

CommandResponse/.DS_Store
CommandResponse/c++11/build
CommandResponse/c++11/.DS_Store

*.vcxproj
*.filters
*.user
*.sln
*.json
