
Alarms/c++/src/build
Alarms/c++11/src/build

Sensors/c++/src/build
Sensors/c++11/build

CommandResponse/.DS_Store
CommandResponse/c++11/build
CommandResponse/c++11/.DS_Store
CommandResponse/c++/src/build
CommandResponse/c++/.DS_Store

# venv pycharm project files
CommandResponse/python/venv
CommandResponse/python/.idea

#emacs temp files
.#*
\#*


__pycache__
*.DS_Store
*.vcxproj
*.filters
*.user
*.sln
*.json
*.vs
